@{
    ViewBag.Title = "Test";
}

@{
    Layout = null;
}

<h2>Test</h2>
<ion-header-bar class="bar-stable">
    <h1 class="title">Page 3!</h1>
</ion-header-bar>
<ion-content class="padding">
    <p>I am Page 3!</p>
</ion-content>